<h1>Desafio con HBS</h1>
    <section class="container mt-3 jumbotron">
       {{>form}}
       <div class="divBtn">
           <button class="btn btn-primary"><a href="/productos">Ver Productos</a></button>
       </div>
    </section>