extends ./productos

block vista
    h3.text-primary  Vista de Productos 
    br
    -if (products.length > 0) 
        div.table-responsive
        table.table.table-dark
            tr.text-warning
            th.font-weight-bold Nombre
            th.font-weight-bold Precio
            th.font-weight-bold Foto
            each product in products
                tr
                td=product.title
                td=product.price
                td
                    img(class="icon" src=`${product.image}` alt=`${product.id}`)
    -else
        h3.alert.alert-danger no se encontraron productos
