<h3 class="text-primary"> Vista de Productos </h3>
<br>
<% if (products.length > 0) { %>
    <div class="table-responsive">
        <table class="table table-dark">
            <tr class="text-warning">
                <th class="font-weight-bold">Nombre</th>
                <th class="font-weight-bold">Precio</th>
                <th class="font-weight-bold">Foto</th>
            </tr>
            <% products.forEach(product => { %>
                <tr>
                    <td><%=product.title%></td>
                    <td><%=product.price%></td>
                    <td><img class="icon" src="<%=product.image%>" alt="<%=product.id%>"></td>
                </tr>
            <% }); %>
        </table>
    </div>
<% } else{ %>
    <h3 class="alert alert-danger">no se encontraron productos</h1>
 <% } %>